<suite name="Stickers">
    <test name="Test-cases for the add-on 'Stickers'">
        <classes>
            <class name="TestCaseOne" />
            <class name="TestCaseTwo" />
            <class name="TestCaseThree" />
            <class name="TestCaseFour" />
        </classes>
    </test>
</suite>